html, body, h1, h2, h3, p, div, ul, li, td, tr, table
	padding: 0
	margin: 0
	list-style-type: none

body
	background-color: #FFFFFF

!blue = #0f3e6f
!away = #8d8d8d

#main
	background-color = !blue
	color: #FFFFFF
	border-color = !away
	border-style: none solid
	border-width: medium 6px
	padding-top: 20px
	margin-left: 40px
	margin-right: 40px
	text-align: center
	