!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title Are The Dodgers Playing Tonight?
		= stylesheet_link_tag "application"
	%body
		#main
			= yield
		